.header {
  background-color: #8050e6 !important;
  /* rgb(230, 96, 123) */
}

.searchfield {
  /* width: auto !important; */
  max-width: 40%;
}

.listposts {
  margin-bottom: 20px;
}

.PageNo {
  color: aliceblue;
  margin-left: 10px;
  /* border-radius: 40%;
  border: 1px solid black;
  padding: 5px; */
}
.PageNo:hover {
  color: black;
}

.pages {
  width: fit-content;
  /* max-width: 90vw; */
  margin-left: 50%;
  transform: translateX(-50%);
}
